---

layout: default
section_id: games

---

<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          {% assign categories = site.games | sort:"category" | group_by:"category" %}
          {% for category in categories %}
            <li>
              <a data-cat='{{category.name}}' href='#'>{{category.name | capitalize }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <ul class='gallery large-block-grid-4 medium-block-grid-3 seperated small-block-grid-2'>
        {% for game in site.games %}
          <li class='{{game.categories[0]}}'>
            <a href='{{game.url | prepend: site.baseurl | prepend: site.url}}'>
              {% if game.images %}
                <img alt="" src="{{game.images | first | prepend: site.baseurl | prepend: site.url}}" />
              {% else %}
                <img alt="" src="/images/games/default.jpg" />
              {% endif %} 
              <div class='overlay' style='background: rgba(0, 152, 221, 0.8);'>
                <div class='thumb-info'>
                  {% for originator in game.originators %}
                    <h3>{{originator}}</h3>
                  {% endfor %}
                  <h4>{{game.timebox | truncatewords:4}}</h4>
                  <h4>{{game.scale | truncatewords:4}}</h4>
                </div>
              </div>
            </a>
            <h3>{{game.title}}</h3>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
