---

layout: default
section_id: games

---

<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <!--<div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='luxembourg' href='#'>Luxembourg</a>
          </li>
          <li>
            <a data-cat='milano' href='#'>Milano</a>
          </li>
          <li>
            <a data-cat='hamburg' href='#'>Hamburg</a>
          </li>
          <li>
            <a data-cat='london' href='#'>London</a>
          </li>
          <li>
            <a data-cat='other' href='#'>Other</a>
          </li>
        </ul>
      </div>-->

      <ul class='gallery large-block-grid-4 medium-block-grid-3 seperated small-block-grid-2'>
        {% for game in site.games %}
          <li class='{{game.categories}}'>
            <a href='{{game.url | prepend: site.baseurl | prepend: site.url}}'>
              {% if game.images %}
                <img alt="" src="{{game.images[0] | prepend: site.baseurl | prepend: site.url}}" />
              {% else %}
                <img alt="" src="/images/games/default.jpg" />
              {% endif %} 
              <div class='overlay' style='background: rgba(0, 152, 221, 0.8);'>
                <div class='thumb-info'>
                  <h3>{{game.title}}</h3>
                  <p>{{game.author}}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <!--<div class='four spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button' href='#'>See more works</a>
      </p>
    </div>
  </div>-->
  <div class='four spacing'></div>
</div>
