---
layout: default
section_id: about

members:
  - yann_gensollen
  - pierre_neis
  - diego_de_biasio
  - cedric_pontet
---

<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <h3>Our history</h3>
      <div class='spacing'></div>
      <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.</p>
    </div>

    {% include skills.html %}
    
  </div>
</div>
<div class='two spacing'></div>
<hr>
<div class='two spacing'></div>

{% include team.html %}

<div class='three spacing'></div>
