---
layout: default
section_id: expectations

---

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h3>Your main expectations</h3>
      <div class='spacing'></div>
    </div>
  </div>

  {% include main-expectations.html %}
  <hr>

  <div class='row'>
    <div class='two spacing'></div>
    {% include manifesto.html %}
    {% include code-of-conduct.html %}
  </div>
  <hr>

  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <h3>Other expectations</h3>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedTextSlider'>
        <div class='boxes'>
          {% for expectation in site.data.expectations.other %}
            <div class='box' style='background: #f9f9f9;'>
              <i class='{{expectation.icon_class}}'></i>
              <h4>{{expectation.title}}</h4>
              <p>{{expectation.desc}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
