---
layout: default
section_id: unconference


timetable:
    - day: Welcome evening
      desc: The welcome evening is the day where we learn to know one another and enjoy meeting old friends again.
      times:
        - time: 6 PM
          desc: Ice breakers
        - time: 7 PM
          desc: Rules of the marketplace
        - time: 8 PM
          desc: Dinner / Mingle
        - time: 9 PM
          desc: Game(s) all together
        - time: 10 PM
          desc: Beer at the pub
    - day: First day
      desc: This is the day where it really starts. Lots of games and fun. People are free to satisfy their cravings for games, or take a break if they need.'
      times:
        - time: 8:30 AM
          desc: Breakfast
        - time: 9 AM
          desc: Warm-ups
        - time: 9:30 AM
          desc: Marketplace
        - time: 10 AM
          desc: Game sessions
        - time: 12:30 PM
          desc: Lunch
        - time: 1:30 PM
          desc: Game sessions
        - time: 6 PM
          desc: Retrospective
        - time: 7 PM
          desc: Pizza &amp; Beers
    - day: Second day
      desc: This day is often a bit more relaxed. It usually ends earlier, so people can go back home. But hard-core gamers can still get their lot.
      times:
        - time: 8:30 AM
          desc: Breakfast
        - time: 9 AM
          desc: Warm-ups
        - time: 9:30 AM
          desc: Marketplace
        - time: 10 AM
          desc: Game sessions
        - time: 12:30 PM
          desc: Lunch
        - time: 1:30 PM
          desc: Game sessions
        - time: 4 PM
          desc: Retrospective
        - time: 5 PM
          desc: Goodbye &amp; see you next time

---

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h1>Our event format</h1>
    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2>What is an unconference ?</h2>
      <p><strong>#play14</strong> is organized as an unconference, a conference format that follows the 
      <a href='http://en.wikipedia.org/wiki/Open_Space_Technology#Guiding_principles_and_one_law' target='_blank'>Open Space Technology</a>
      </p> 
      <p>In this format, <strong>attendees are also session contributors</strong>. Anyone who wants to initiate a topic can claim a time slot in the agenda, 
        and the schedule is done every morning, on the spot, as we will explain later.
      </p>
      <p>Once you are there, the <strong>organizers job is over</strong>. They have provided a location, food and drinks 
        for the rest of the event, then it's <strong>up to you as a participant to make it a great event</strong>.
      </p>
      <p>Check out the <a href="/files/Open-Space-Principles.pdf" target="_blank">funny drawings</a> of <a href="https://twitter.com/agilesensei">Claudio Perrone</a></p>
      <h3>Principles</h3>
      <p>There are some simple rules for participants.</p>
      <ul>
          <li>
            <strong>Whoever comes is the right people</strong>
            <p>As a facilitator, you should welcome anyone who has decided to join your session, and not be frustrated if you expected different people.
            <br>As a participant, you should be ready to collaborate with anyone.</p>
          </li>
          <li>
            <strong>Whenever it starts is the right time</strong>
            <p>As a facilitator, if you need some time to prepare, take it. Just think that people might get bored and go join another session. The best is to prepare anything in advance.
            <br>As a participant, there is nothing wrong with joining a session in progress. But respect the people who have already started, and try to jump in quietly.</p>
          </li>
          <li>
            <strong>Wherever it is, is the right place</strong>
            <p>You will be offered several spaces for your session. Choose the one that fits your needs as a facilitator or as a participant.</p>
          </li>
          <li>
            <strong>Whatever happens is the only thing that could have</strong>
            <p>Be prepared to be surprised. Don't be annoyed if you get feedback. Don't be disappointed if it doesn't work. Try again if need be.</p>
            </li>
          <li>
            <strong>When it's over, it's over</strong>
            <p>As a facilitator, it's up to you to mind your timebox. The organizers will not do it for your. 
            Keep in mind that the participants of your session might want to go to another session after yours, and that the room might be reserved after.
            Feel free to continue in a different location with whoever is interested.</p>
          </li>
      </ul>

      <div class='spacing'></div>
      <img src="/images/open-space.jpg" width="800">
      <div class='spacing'></div>
      <p>
        Many thanks to <a href="/players/mari-luz-garcia/">Mari Luz Garcia</a> for the wonderful images.
      </p>
      <div class='spacing'></div>
    </div>
  </div>  

  <div class='row'>
    <div class='large-12 columns'>
      <h3>The Law of Two Feet</h3>
    </div>
  </div>
  <div class='row'>
    <div class='large-4 columns'>
      <p>Any time a person feels a session is not contributing to their learning, they have the responsibility to themselves to get up and move. 
      That is, use their two feet or four wheels to move to a more interesting place.</p>
      <p> 
        Neither the facilitator nor the other participants should feel offended about that. It's just what it is.
      </p>
    </div>
    <div class='large-4 columns'>
      <img src="/images/two-feet.png" width="400">
    </div>
    <div class='large-4 columns'>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>

  <div class='row'>
    <div class='large-12 columns'>
      <h3>Bumblebees and Butterflies</h3>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-4 columns'>
      <img src="/images/bumblebee.png">
      <div class='spacing'></div>
      <p>Bumblebees fly from group to group cross-pollinating the discussions.</p>
    </div>
    <div class='large-4 columns'>
      <p>Butterflies sit around looking relaxed and interesting discussions may emerge around them as people find them and pause to chat.</p>
      <img src="/images/butterfly.png">
    </div>
    <div class='large-4 columns'>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>

<div class='full alternate-background'>
  <div class='row'>
    <div class='large-6 columns'>
      {% include code-of-conduct.html %}
      <div class='two spacing'></div>
    </div>

    <div class='large-5 columns'>
      {% include skills.html %}
    </div>

  </div>
</div>


<div class='full'>
  <div class='row'>
      <div class='large-12 columns'>
          <h2>What is the typical schedule ?</h2> 
          <p><strong>#play14</strong> usually take course over a weekend, but the schedule would pretty similar if it is not the case.</p> 
          <p>Every event also has its own specifics and the schedule may vary a bit. The general timing should stay pretty much the same though.</p>
      </div>
  </div>
</div>

<div class='two spacing'></div>
{% include timetable.html %}


<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2>Whay will be my main take aways ?</h2>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% include main-expectations.html %}
  </div>
</div>

<div class='full'>
  <div class='row'>
      <div class='large-12 columns'>
          <h2>How does the schedule come up ?</h2> 
          <p><strong>#play14</strong> being an unconference, it's up to the participants to come up with the content.</p> 

          <div class='two spacing'></div>
          <h3>How do I propose a game ?</h3>
          <p>If you feel like proposing a game, follow these instructions.</p>
          <img src="/images/propose_game.jpg">

          <div class='two spacing'></div>
          <h3>Should I bring any material with me ?</h3>
          <p>If your game requires specific material, please bring it with you.</p>
          <p>
             Otherwise, #play14 will provide the basics
             <ul>
               <li>Post-it notes</li>
               <li>Markers</li>
               <li>Scissors</li>
               <li>Paper</li>
               <li>Cards</li>
               <li>...</li>
             </ul>
          </p>
      </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2>What else should I know ?</h2>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedTextSlider'>
        <div class='boxes'>
          {% for expectation in site.data.expectations.other %}
            <div class='box' style='background: #f9f9f9;'>
              <i class='{{expectation.icon_class}}'></i>
              <h4>{{expectation.title}}</h4>
              <p>{{expectation.desc}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


