---
layout: default
section_id: about

members:
  - Cédric Pontet
  - Diego De Biasio
  - Pierre Neis
  - Yann Gensollen
---

<div class='full no-padding'>
  <div class='row'>
    <div class='two spacing'></div>
    {% include team.html %}
    <div class='spacing'></div>
  </div>
</div>

<div class='full no-padding'>
  <div class='row'>
    <div class='large-5 columns'>
      <h2>Our history</h2>
      <div class='spacing'></div>
      <p>It all started from some frustration and one crazy idea. End of 2013, some of us tried to register for <a href="https://play4agile.wordpress.com/">play4agile</a>, but all tickets were sold out in a few hours. Twitter started buzzing and people complained.
      Instead of spending time bitching and crying about it though, we just decided that there was something better to do. Why not create an event of our own instead of complaining?</p>
      <p>In December 2013, <a href="/players/yann-gensollen">Yann</a>, <a href="/players/pierre-neis">Pierre</a> and <a href="/players/cedric-pontet">Cédric</a> gathered in a bar in Luxembourg to give it a serious thought. What would it take to organize an unconference about serious games ? We would need a venue, a date, and a name.</p>
      <p>Regarding the venue, Yann and Cédric asked <a href="/players/diego-de-biasio">Diego</a>, CEO of the <a href="http://www.technoport.lu">Technoport</a> in Esch/Belval, whom they already new from organizing the <a href="http://www.up.co/communities/luxembourg/luxembourg/">Startup Weekend Luxembourg</a>. Diego being who he is, he immediatly said yes, and we had our venue... for free. #play14 would not exit if not for Diego and we all thank him for that.</p>
      <p>For the date, we thought that March 2014 would be a good time. That gave us 3 months to prepare and advertize. It was short, but we liked the challenge.</p>
      <p>The name, was actually the hardest to come up with. Brainstorming for a while, after a lot of stupid ideas, we just came up with the number 14. Why 14 ? Because why not ! Since you cannot create a domain name with just a number, we added 'play' in front and decided that the name of the event would be the hashtag, and not the opposite.</p>
      <p>Obviously we had to check with the guys from play4agile if they were ok with us organizing a like-minded event in Luxembourg, which they were, and that was it!
         Three month later, on March 14th 2014, the very first #play14 event started.</p>
      <p>Back then, we had no idea if it would work, of what it would eventually become, and that a couple of years later, #play14 would be present all around Europe. The rest is history...</p>
    </div>

    <div class='large-5 columns'>
      {% include manifesto.html %}
      <div class='two spacing'></div>
      <h2>Acknowldegement</h2>
      <p>We would like to express our sincere gratitude and appreciation to <a href="https://www.linkedin.com/in/christianjolas">Christian Jolas</a> / <a href="https://twitter.com/cjolas">@cjolas</a> who designed our logo. Christian was nice enough to spend his precious time imagining different popositions for the #play14 logo. After some hesitations, we decided to go for the simple and colorful logo as it is today.</p>
      <p>We were pretty happy with our choice, but it's only when we saw it printed on the black t-shirts for the first time, and when we looked at the pictures after the first event, that we realized that what Christian had given us was not only a great logo, but an extraordinary visual identity.</p>
      <p>So many thanks to you, Christian. We owe you that much.</p>
    </div>
    
  </div>
</div>
<div class='two spacing'></div>
<hr>
