---
layout: default
section_id: about

members:
  - Yann Gensollen
  - Pierre Neis
  - Diego De Biasio
  - Cédric Pontet
---

<div class='full'>
  <div class='row'>
    <div class='large-5 columns'>
      <h3>Our history</h3>
      <div class='spacing'></div>
      <p>It all started out of one frustration and one crazy idea. End of 2013, some of us tried to register for #play4agile, but all tickets were sold out in a few hours. Twitter started to buzz and people complained.
      Instead of spending time bitching and crying about it, we just thought that there was something better to do. Why not create our own event instead of complaining. That was the crazy idea.</p>
      <p>In December 2013, Yann, Pierre and Cédric gathered in a bar in Luxembourg to think about it. What would it take to organize an open space about serious games. We would need a venue, a date, and a name.</p>
      <p>For the venue, Yann and Cédric asked Diego, whom they new from Startup Weekend Luxembourg, if it would be possible to organize an event at the Technoport. Diego said yes, and we had our venue... for free.
      For the date, we thought that March 2014 would be a good time. That gave us 3 months to prepare. 
      The name, was in fact the most difficult. We brainstormed for a while, and after many stupid ideas, we just went for #play14. Why 14 ? Because why not !</p>
      <p>That's it. Three month later, on March 14th 2014, the very first #play14 started. The rest is history...</p>
    </div>

    <div class='large-5 columns'>
      {% include manifesto.html %}
    </div>
    
  </div>
</div>
<div class='two spacing'></div>
<hr>
<div class='two spacing'></div>

{% include team.html %}

<div class='three spacing'></div>
