---
layout: default
section_id: home

slides:
  - bg: images/slides/play14_white_bg_1090x545.png
    title: A community
    tagline: of like minded people
  - bg: images/slides/play14movement.png
    title: A movement
    tagline: growing
  - bg: images/slides/technoport_lunch_area.jpg
    title: In Luxembourg
    tagline: Drinks at Technoport
  - bg: images/slides/pink_space_cat.jpg
    title: In London
    tagline: Once upon a time in LegoLand
  - bg: images/slides/milano.jpg
    title: In Milano
    tagline: Everybody
  - bg: images/slides/marketplace.jpg
    title: In Hamburg
    tagline: The Marketplace

sponsors:
  - name: AIGLU
    type: Our sponsors
  - name: Technoport
    type: Our sponsors
  - name: Agile Partner
    type: Our sponsors
  - name: Marmelab
    type: Our sponsors
  - name: We&Co
    type: Our sponsors

---

<div class='full no-padding alternate-background'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns' style='text-align:center'>
      <h1>We believe in playfulness</h1>
    </div>
  </div>
  <div class='spacing'></div>
</div>

<!--Slides-->
<div class='full no-padding'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          {% for slide in page.slides %}
            <div class='slide'>
              <img alt="" src="{{slide.bg}}" />
              <div class='caption'>
                <p>{{slide.title}}</p>
                <h2>{{slide.tagline}}</h2>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<!--Description-->
<div class='full no-padding'>
  <div class='spacing'></div>
  <div class='row'>
    <h3>What is #play14 ?</h3>
    <div class='large-12 columns' style='font-size: 1.5rem;'>
      <blockquote>
        Tell me and I forget, teach me and I may remember, involve me and I learn.
      </blockquote>
      <em>Benjamin Franklin</em>
      <div class='two spacing'></div>
      <p style='font-size: 1.5rem;'>
        <strong>#play14</strong> is an international gathering for people who share the idea that playing is a great way to teach, learn and understand! 
      </p>      
      <p style='font-size: 1.5rem;'>
        Many different profiles of people are invited to share serious games, good practices, tips, knowledge, laughts and smiles in a common goal of spreading new ways to teach, learn, create or train.
      </p>
      <p style='font-size: 1.5rem;'>
        <strong>#play14</strong> is run as an unconference, where all attendees are also contributors. All you need is show up, and you will be given the opportunity to propose some games, or play the games proposed by the others.
      </p>
    </div>
  </div>
  <div class='two spacing'></div>
</div>

<!--Next events-->
<div class='full no-padding alternate-background'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <h3>
        Our next events
        /
        <a href='events/'>View more</a>
      </h3>
      <div class='spacing'></div>
    </div>
    <div class='mod modGallery'>
      <ul class='gallery large-block-grid-4 medium-block-grid-3 seperated small-block-grid-2'>
        {% assign events = site.events | where_exp:"event","event.schedule.isOver == false" | reverse %}
        {% for event in events reversed %}
          <li class='{{event.category}}'>
            <a href='{{event.url}}'>
              <img alt="" src="{{event.images[0]}}" />
              <div class='overlay' style='background: rgba(0, 152, 221, 0.8);'>
                <div class='thumb-info'>
                  <h3>{{event.schedule.dates}}</h3>
                  <h3>{{site.data.locations[event.location].name}}</h3>
                </div>
              </div>
            </a>
            <h3>{{event.title}}</h3>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class='two spacing'></div>
</div>

<div class='full no-padding'>

  <!--Manifesto & CoC-->
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-5 columns'>
      {% include manifesto.html %}
    </div>

    <div class='large-5 columns'>
      {% include code-of-conduct.html %}
      <div class='two spacing'></div>
    </div>
    <hr>
  </div>

  <!--What you get-->
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <h3>What can you expect when attending an event ?</h3>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% include main-expectations.html %}
    <hr>
  </div>

  <!--What it's about-->
  <div class='two spacing'></div>
  <div class='row'>

    <!--Skills-->
    <div class='medium-6 columns'>
      {% include skills.html %}
      <div class='two spacing'></div>
    </div>

    <!--Testimonials-->
    <div class='medium-6 columns'>
      {% include testimonials.html %}
    </div>
  </div>
</div>

<!--Know more-->
<div class='full no-padding alternate-background'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Do you want to know more about what to expect when you join an event ?</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button' href='/learning/'>Learn more</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>

<!--Sponsors-->
<div class='full no-padding'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include sponsors.html %}
    </div>
  </div>
  <div class='two spacing'></div>
</div>

<!--Recent games-->
<div class='full no-padding alternate-background'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <h3>
        Our recent games
        /
        <a href='games/'>View more games</a>
      </h3>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for game in site.games %}
      {% if forloop.index > 3 %}
        {% break %}
      {% endif %}
      <div class='large-4 medium-4 columns'>
        <div class='mod modBlogPost no_bg simple'>
          {% for image in game.images %}
            {% if forloop.index > 1 %}
              {% break %}
            {% endif %}
            <a href="{{game.url}}"><img alt="" src="{{image}}" /></a>
          {% endfor %}
          <div class='content'>
            <h4><a href="{{game.url}}">{{game.title}}</a></h4>
            <p>{{game.description | truncatewords: 25 }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class='two spacing'></div>
  </div>
</div>

<!--Recent posts-->
<div class='full no-padding'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <h3>
        Our recent posts
        /
        <a href='blog/'>View more posts</a>
      </h3>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for post in site.posts %}
      {% if forloop.index > 3 %}
        {% break %}
      {% endif %}
      <div class='large-4 medium-4 columns'>
        <div class='mod modBlogPost no_bg simple'>
          {% for image in post.images %}
            {% if forloop.index > 1 %}
              {% break %}
            {% endif %}
            <a href="{{post.url}}"><img alt="" src="{{image}}" /></a>
          {% endfor %}
          <div class='content'>
            <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
            <h4><a href="{{post.url}}">{{post.title}}</a></h4>
            <p>{{post.excerpt | truncatewords: 25 }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class='two spacing'></div>
  </div>
</div>