---
layout: default
section_id: home

# size : 1590 x 545
slides:
  - bg: images/slides/play14_white_bg_1090x545.png
    title: A community
    tagline: We believe in playfulness
  - bg: images/slides/technoport_lunch_area.jpg
    title: Luxembourg
    tagline: Technoport
  - bg: images/slides/pink_space_cat.jpg
    title: London
    tagline: Once upon a time in LegoLand
  - bg: images/slides/marketplace.jpg
    title: Hamburg
    tagline: Marketplace
  - bg: images/slides/play14movement.png
    title: And tomorrow...
    tagline: the world
    
services:
  - icon_class: fa fa-paper-plane-o
    title: Games
    desc: "Any real world activity used as a metaphor for learning, sharing and understanding. Because we want to focus on the face to face nature of play and we believe it to be most relevant in the context of this event, we will not use nor create any digital or video games during the event."
  - icon_class: fa fa-lightbulb-o
    title: New ideas
    desc: "Get new ideas for games and activities that you will be able to try out right away with your teams when you go back home. Play games that you already know and learn about variations, or discover completely new activities and learn how to facilitate them."
  - icon_class: fa fa-comments-o
    title: Conversations
    desc: "You get to meet new interesting people from multiple backgrounds and with different experiences : serial gamers, learning-by-doing practitioners, games designers, facilitators, agile coaches, teachers, product or service designer, actors, improvisers, therapists, brainstormers, HR." 
  - icon_class: fa fa-flask
    title: Experiment
    desc: "It's a safe place where you can experiment new games or any idea that you have, with open minded people, who will be happy to provide feedback. You can come with an idea of something you want to teach, and find people to help you design a game that will reach your particular educational objective."

bars:
  - title: Facilitation
    percent: 84
  - title: Innovation
    percent: 70
  - title: Change Management
    percent: 60
  - title: Happiness
    percent: 90

testimonials:
  - text: "I am proud of what #play14 has become. Players are happy to join our events and curious to learn new things. They go back home with tons of new ideas and games to try out with their teams. More than an event, we have created a community."
    author: cedric_pontet
  - text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing."
    author: yann_gensollen

---

<div class='full no-padding'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          {% for slide in page.slides %}
            <div class='slide'>
              <img alt="" src="{{slide.bg}}" />
              <div class='caption'>
                <p>{{slide.title}}</p>
                <h2>{{slide.tagline}}</h2>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class='full no-padding'>
  <div class='spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p style='font-size: 1.5rem; font-style: italic;'>
        #play14 is an international gathering for people who share the idea that playing is a great way to teach, learn and understand! 
      </p>      
      <p style='font-size: 1.5rem; font-style: italic;'>
        Many different profiles of people are invited to share serious games, good practices, tips, knowledge, laughts and smiles in a common goal of spreading new ways to teach, learn, create or train.
      </p>
    </div>
  </div>
  <hr>
</div>
<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>
      Our next events
      /
      <a href='events.html'>View more</a>
    </h3>
    <div class='spacing'></div>
  </div>
  <div class='mod modGallery'>
    <ul class='gallery large-block-grid-4 medium-block-grid-3 seperated small-block-grid-2'>
      {% assign events = site.data.events.future | reverse %}
      {% for event in events %}
        <li class='{{event.class}}'>
          <a href='event.html'>
            <img alt="" src="{{event.image}}" />
            <div class='overlay' style='background: rgba(143, 221, 115, 0.8);'>
              <div class='thumb-info'>
                <h3>{{event.title}}</h3>
                <p>{{event.dates}}</p>
                <p>{{event.location}}</p>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class='two spacing'></div>
<hr>
<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>What you get when attending an event</h3>
    <div class='two spacing'></div>
  </div>
</div>
<div class='row'>
  {% for service in page.services %}
    <div class='medium-3 large-3 columns'>
      <div class='fadein mod modIconText' data-delay='{{ 200 | times:forloop.index0 }}'>
        <div class='icon-text-circle'>
          <i class='{{service.icon_class}}'></i>
          <h3>{{service.title}}</h3>
          <p>{{service.desc}}</p>
        </div>
        <div class='two spacing'></div>
      </div>
    </div>
  {% endfor %}
</div>
<div class='full no-padding' style='background: #f5f5f5'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Do you want to know more about what to expect when you join an event ?</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button' href='about.html'>Learn more</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>
<hr>
<div class='two spacing'></div>
<div class='row'>
  <div class='medium-6 columns'>
    <h3>What it's all about</h3>
    <div class='spacing'></div>
    <div class='mod modBarGraph'>
      <ul class='bars'>
        {% for bar in page.bars %}
          <li>
            <h4 style=''>
              {{bar.title}}
              <strong>{{bar.percent}}%</strong>
            </h4>
            <p class='highlighted' data-percent='{{bar.percent}}'></p>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class='two spacing'></div>
  </div>
  <div class='medium-6 columns'>
    <h3>What players say</h3>
    <div class='spacing'></div>
    <div class='mod modTestimonials simple'>
      <div class='row'>
        <div class='small-12 columns'>
          <div class='items'>
            {% for t in page.testimonials  %}
              {% assign author = site.data.people[t.author] %}
              <div class='item'>
                <p class='quote'>{{t.text}}</p>
                <div class='author'>
                  <p class='author-avatar'>
                    <img alt="" src="{{author.avatar}}" width="80px" />
                  </p>
                  <p class='author-name'>
                    -
                    <strong>
                      {{author.name}}
                    </strong>
                    , {{author.bio}}
                  </p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>Our sponsors</h3>
    <div class='spacing'></div>
    <div class='mod modClients' data-slides_to_show='4'>
      <div class='clients'>
        {% for sponsor in site.data.sponsors %}
          <div>
            <img alt="" src="{{sponsor.logo}}" style="width:auto; max-height:200px; padding:10px" />
            <a href="{{sponsor.url}}" target="_blank"><strong>{{sponsor.name}}</strong></a>
            <a href='http://twitter.com/{{sponsor.twitter}}' target="_blank">
              <i class='fa fa-twitter'></i>
            </a>
            <a href='mailto:{{sponsor.email}}'>
              <i class='fa fa-envelope-o'></i>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<hr>
<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>
      Our recent posts
      /
      <a href='#'>View more posts</a>
    </h3>
    <div class='spacing'></div>
  </div>
</div>
<div class='row'>
  {% for post in site.posts %}
    {% if forloop.index > 3 %}
      {% break %}
    {% endif %}
    <div class='large-4 medium-4 columns'>
      <div class='mod modBlogPost no_bg simple'>
        {% for image in post.images %}
          {% if forloop.index > 1 %}
            {% break %}
          {% endif %}
          <a href="{{post.url}}"><img alt="" src="{{image}}" /></a>
        {% endfor %}
        <div class='content'>
          <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
          <h4><a href="{{post.url}}">{{post.title}}</a></h4>
          <p>{{post.excerpt | truncatewords: 25 }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
  <div class='two spacing'></div>
</div>
