---
layout: default
section_id: home

# size : 1590 x 545
slides:
  - bg: images/slides/play14_white_bg_1090x545.png
    title: A community
    tagline: We believe in playfulness
  - bg: images/slides/technoport_lunch_area.jpg
    title: Luxembourg
    tagline: Technoport
  - bg: images/slides/pink_space_cat.jpg
    title: London
    tagline: Once upon a time in LegoLand
  - bg: images/slides/marketplace.jpg
    title: Hamburg
    tagline: Marketplace
  - bg: images/slides/play14movement.png
    title: And tomorrow...
    tagline: the world
    
testimonials:
  - text: "I am proud of what #play14 has become. Players are happy to join our events and curious to learn new things. They go back home with tons of new ideas and games to try out with their teams. More than an event, we have created a community."
    author: Cédric Pontet
  - text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing."
    author: Yann Gensollen

---

<!--Slides-->
<div class='full no-padding'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          {% for slide in page.slides %}
            <div class='slide'>
              <img alt="" src="{{slide.bg}}" />
              <div class='caption'>
                <p>{{slide.title}}</p>
                <h2>{{slide.tagline}}</h2>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<!--Description-->
<div class='full no-padding'>
  <div class='spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p style='font-size: 1.5rem; font-style: italic;'>
        #play14 is an international gathering for people who share the idea that playing is a great way to teach, learn and understand! 
      </p>      
      <p style='font-size: 1.5rem; font-style: italic;'>
        Many different profiles of people are invited to share serious games, good practices, tips, knowledge, laughts and smiles in a common goal of spreading new ways to teach, learn, create or train.
      </p>
    </div>
  </div>
  <hr>
</div>

<!--Next events-->
<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>
      Our next events
      /
      <a href='events/'>View more</a>
    </h3>
    <div class='spacing'></div>
  </div>
  <div class='mod modGallery'>
    <ul class='gallery large-block-grid-4 medium-block-grid-3 seperated small-block-grid-2'>
      {% assign events = site.events | where_exp:"event","event.done == false" | reverse %}
      {% for event in events reversed %}
        <li class='{{event.category}}'>
          <a href='{{event.url}}'>
            <img alt="" src="{{event.images[0]}}" />
            <div class='overlay' style='background: rgba(0, 152, 221, 0.8);'>
              <div class='thumb-info'>
                <h3>{{event.title}}</h3>
                <p>{{event.dates}}</p>
                <p>{{site.data.locations[event.location].name}}</p>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<!--What you get-->
<div class='two spacing'></div>
<hr>
<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>What can you expect when attending an event ?</h3>
    <div class='two spacing'></div>
  </div>
</div>
{% include main-expectations.html %}
<!--Know more-->
<div class='full no-padding' style='background: #f5f5f5'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Do you want to know more about what to expect when you join an event ?</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button' href='about.html'>Learn more</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>

<!--What it's about-->
<div class='two spacing'></div>
<div class='row'>

  <!--Skills-->
  {% include skills.html %}

  <!--Testimonials-->
  {% include testimonials.html %}
</div>
<hr>

<!--Sponsors-->
<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>Our sponsors</h3>
    <div class='spacing'></div>
    <div class='mod modClients' data-slides_to_show='4'>
      <div class='clients'>
        {% for sponsor in site.data.sponsors %}
          <div>
            <img alt="" src="{{sponsor.logo}}" style="width:auto; max-height:200px; padding:10px" />
            <a href="{{sponsor.url}}" target="_blank"><strong>{{sponsor.name}}</strong></a>
            <a href='http://twitter.com/{{sponsor.twitter}}' target="_blank">
              <i class='fa fa-twitter'></i>
            </a>
            <a href='mailto:{{sponsor.email}}'>
              <i class='fa fa-envelope-o'></i>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<hr>

<!--Recent posts-->
<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>
      Our recent posts
      /
      <a href='blog/'>View more posts</a>
    </h3>
    <div class='spacing'></div>
  </div>
</div>
<div class='row'>
  {% for post in site.posts %}
    {% if forloop.index > 3 %}
      {% break %}
    {% endif %}
    <div class='large-4 medium-4 columns'>
      <div class='mod modBlogPost no_bg simple'>
        {% for image in post.images %}
          {% if forloop.index > 1 %}
            {% break %}
          {% endif %}
          <a href="{{post.url}}"><img alt="" src="{{image}}" /></a>
        {% endfor %}
        <div class='content'>
          <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
          <h4><a href="{{post.url}}">{{post.title}}</a></h4>
          <p>{{post.excerpt | truncatewords: 25 }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
  <div class='two spacing'></div>
</div>
