---
layout: default
section_id: learning

---

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2>Your main take aways</h2>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% include main-expectations.html %}
  </div>
</div>

<div class='full alternate-background'>
  <div class='row'>
    <div class='large-6 columns'>
      {% include code-of-conduct.html %}
      <div class='two spacing'></div>
    </div>

    <div class='large-5 columns'>
      {% include skills.html %}
    </div>

  </div>
</div>

<div class='full'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <h2>Know more...</h2>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedTextSlider'>
        <div class='boxes'>
          {% for expectation in site.data.expectations.other %}
            <div class='box' style='background: #f9f9f9;'>
              <i class='{{expectation.icon_class}}'></i>
              <h4>{{expectation.title}}</h4>
              <p>{{expectation.desc}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
