---
layout: default
section_id: learning
---

<div class="full">
  <div class="row">
    <div class="large-12 columns">
      <h1>Our values</h1>
      <p>
        Values are very important to us. They are what make #play14 what it is.
        <br />
        Please, make sure you take a look at our manifesto and our code of
        conduct before you register to one of our events.
      </p>
      <p>
        Many thanks to <a href="/players/nina-neef">Nina Neef</a> for the
        wonderful images.
      </p>
    </div>
  </div>
  <div class="row">
    <hr />
    <div class="large-12 columns">
      {% include manifesto.html %}
      <img src="/images/manifesto.jpg" />
      <div class="two spacing"></div>
    </div>
  </div>
  <div class="row">
    <hr />
    <div class="large-12 columns">
      {% include code-of-conduct.html %}
      <img src="/images/CoC.jpg" />
      <div class="two spacing"></div>
    </div>
  </div>
</div>
