---

layout: default
section_id: players

---

<div class='full'>
  <div class='row'>
    <div class='mod modMasonryGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          {% assign positions = site.data.players | group_by:"position" %}
          {% for position in positions %}
            <li>
              <a data-cat='{{position.name}}' href='#'>{{position.name}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <ul class='gallery large-block-grid-4 medium-block-grid-3 seperated small-block-grid-2'>
        {% assign players = site.data.players | sort:'id' %}
        {% for player in players %}
          <li class='{{player.position}}'>
            <a href='/players/{{player.id}}'>
              <img alt="" src="{{player.avatar | default:'/images/players/default.png'}}" />
              <div class='overlay' style='background: rgba(0, 152, 221, 0.8);'>
                <div class='thumb-info'>
                  <h3>{{player.name}}</h3>
                  <h4>{{player.position}}</h4>
                  <p>{{player.bio}}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <!--<div class='four spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button' href='#'>See more works</a>
      </p>
    </div>
  </div>-->
  <div class='four spacing'></div>
</div>
