{% assign author = site.players | where:"name",include.variable-param | first %}

<div class='author'>
    {% if include.variable-param && author %}
        <p class='author-avatar'>
            <img alt="" src="{{author.avatar}}" width="80px" />
        </p>
        <a href="{{author.url}}">
            <strong>
                {{author.name}}
            </strong>
            {% if author.position %}
                - {{author.position}}
            {% endif %}
        </a>
        <br/>{{author.bio}}
        <br/>{{author.company}}
    {% else %}
        <p class='author-avatar'>
            <img alt="" src="/images/players/default.png" width="80px" />
        </p>
        <strong>
            Anonymous
        </strong>
    {% endif %}
</div>
