<h2>Our code of conduct</h2>
<div class='spacing'></div>
<div class='coc'>
    <ul>
        <li>You shall always be <strong>open minded</strong> and ready to <strong>listen and learn</strong> from others</li>
        <li>You shall feel free to <strong>propose, experiment and explain</strong> what you have in mind</li>
        <li>You shall <strong>not high-jack, sabotage or ruin</strong> the learning experience of other people</li> 
        <li>You shall <strong>mind your own timebox</strong> when facilitating a game so that other sessions can start on time</li>	
        <li>You shall <strong>behave appropriately</strong> and act as a <strong>decent human being</strong></li>
        <li>You shall be ready to <strong>get serious fun and good laughs</strong>, and should not be shy about that</li> 
    </ul>
    <p>To summarize : "You shall not be an a**hole".</p>
</div>
