<h3>Code of Conduct</h3>
<div class='spacing'></div>
<div class='coc'>
    <ul>
        <li>Thy shall always be open minded and ready to listen and learn from others</li>
        <li>Thy shall feel free to propose, experiment and explain what you have in mind</li>
        <li>Thy shall not high-jack, sabotage or ruin the learning experience of other people</li> 
        <li>Thy shall mind your own timebox when facilitating a game so that other sessions can start on time</li>	
        <li>Thy shall behave appropriately and act as a decent human being</li>
        <li>Thy shall be ready to get serious fun and good laughs, and should not be shy about that</li> 
    </ul>
    <p>To summarize : "Thy shall not be an A**hole".</p>
</div>
