{% assign events = include.variable-param %}

<ul class='gallery large-block-grid-4 medium-block-grid-3 seperated small-block-grid-2'>
{% for event in events %}
    <li class='{{event.category}}'>
        <div class='row'>
            <div class='small-8 columns' style="text-align: left; font-weight: bold">
            {{event.schedule.dates}}
            </div>
            {% if event.schedule.isOver == false %}
                <div class='small-4 columns' style="text-align: right; font-weight: bold">
                {% if event.eventbrite %}
                    <a href="{{event.url}}#register">Register</a>
                {% elsif  event.regisrtrationUrl %}
                    <a href="{{event.regisrtrationUrl}}" target="_blank">Register</a>
                {% endif %}
                </div>
            {% endif %}
        </div>
        <a href='{{event.url}}'>
            <img alt="" src="{{event.images.first}}" />
            <div class='overlay' style='background: rgba(0, 152, 221, 0.8);'>
            <div class='thumb-info'>
                <h3>{{event.schedule.dates}}</h3>
                <h3>{{site.data.locations[event.location].name | default: event.location}}</h3>
                <h4>
                {% if event.schedule.isOver %}
                    Event over
                {% elsif event.eventbrite or event.regisrtrationUrl %}
                    Registration Open
                {% else %}
                    Coming soon
                {% endif %}
                </h4>
            </div>
            </div>
        </a>
        <h3>{{event.title}}</h3>
    </li>
{% endfor %}
</ul>
