<h3>#play14 manifesto</h3>
<div class='spacing'></div>
<div class='manifesto'>
    <p><strong>#play14</strong> is and always will be</p>
    <ul>
        <li>a place to share knowledge &amp; practices more than a place to sell services &amp; goods</li>
        <li>open to all people or communities with an interest on learning with fun</li>
        <li>focusing more on games &amp; activities in the physical world than in the virtual world</li> 
        <li>an unconference based on the Open Space Technology</li>	
        <li>non profit</li>
    </ul>
</div>
