<div class='large-6 columns'>
  <h3>#play14 manifesto</h3>
  <div class='spacing'></div>
  <div class='row'>
      #play14 is and always will be
      <ul>
          <li>a place to share knowledge & practices more than a place to sell services & goods</li>
          <li>open to all people or communities with an interest on learning with fun</li>
          <li>focusing more on games & activities in the physical world than in the virtual world</li> 
          <li>an unconference based on the Open Space Technology</li>	
          <li>non profit</li>
      </ul>
  </div>
  <div class='two spacing'></div>
</div>
