<h2>Our manifesto</h2>
<div class="spacing"></div>
<div class="manifesto">
  <p><strong>#play14</strong> is and always will be</p>
  <ul>
    <li>
      a place to <strong>share knowledge &amp; practices</strong> more than a
      place to sell services &amp; goods
    </li>
    <li>
      <strong>open to all people or communities</strong> with an interest on
      learning with fun
    </li>
    <li>
      focused on
      <strong>games &amp; activities in the physical world</strong> more than in
      the virtual world
    </li>
    <li><strong>an unconference</strong> based on the Open Space Technology</li>
    <li>
      <strong>non profit</strong>, which means that when we do make a profit on
      a given event, we reinvest everything into the next
    </li>
  </ul>
</div>
