<h3>Our sponsors</h3>
<div class='spacing'></div>
<div class='mod modClients' data-slides_to_show='4' data-speed='2000'>
    <div class='clients'>
        {% for sponsor in site.data.sponsors %}
        <div class='client'>
            <a href="{{sponsor.url}}" target="_blank">
                <h4>{{sponsor.name}}</h4>
                <img class="avatar" alt="" src="{{sponsor.logo | prepend: site.baseurl | prepend: site.url}}" />
            </a>
            {% include socialmedia.html variable-param=sponsor.socials %} 
        </div>
        {% endfor %}
    </div>
</div>
