<div class='row'>
  <div class='large-12 columns'>
    <h3>The team</h3>
    <div class='spacing'></div>
  </div>
</div>
<div class='row'>
  {% for m in page.members %}
    {% assign member = site.data.people[m] %}
    <div class='small-6 medium-3 large-3 columns'>
      <div class='mod modTeamMember style-2'>
        <div class='member'>
          <img class="avatar" alt="" src="{{site.url}}/{{member.avatar}}" />
          <div class='overlay' style='background: rgba(0, 152, 221, 0.8);'>
            {% include socialmedia.html variable-param=member %} 
            <!--<ul class='socials'>
              <li>
                  <a href='mailto:{{member.email}}'>
                  <i class='fa fa-envelope-o'></i>
                  </a>
              </li>
              {% for social in member.socials %}
                {% assign media = site.data.socialmedia[social.name] %}
                <li>
                  <a href='{{media.url}}{{social.url}}' target="_blank">
                    <i class='{{media.icon}}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul>-->
          </div>
        </div>
        <h3>{{m}}</h3>
        <p class='position'>{{member.position}}</p>
        <p>{{member.bio}}</p>
        <div class='two spacing'></div>
      </div>
    </div>
  {% endfor %}
</div>
