{% if page.members %}

<div class='row'>
  <div class='large-12 columns'>
    <h2>Team</h2>
    <div class='spacing'></div>
  </div>
</div>
{% assign members = page.members | sort %}
  <div class='row'>
  {% for m in members  limit:4 offset:0 %}
    {% assign member = site.players | where:"name",m | first %}
    {% if member %}
      {% include teammember.html variable-param=member %} 
    {% endif %}
  {% endfor %}
  </div>
  <div class='row'>
  {% for m in members  limit:4 offset:4 %}
    {% assign member = site.players | where:"name",m | first %}
    {% if member %}
      {% include teammember.html variable-param=member %} 
    {% endif %}
  {% endfor %}
  </div>
  <div class='row'>
  {% for m in members  limit:4 offset:8 %}
    {% assign member = site.players | where:"name",m | first %}
    {% if member %}
      {% include teammember.html variable-param=member %} 
    {% endif %}
  {% endfor %}
  </div>
  <div class='row'>
  {% for m in members  limit:4 offset:12 %}
    {% assign member = site.players | where:"name",m | first %}
    {% if member %}
      {% include teammember.html variable-param=member %} 
    {% endif %}
  {% endfor %}
  </div>
  <div class='row'>
  {% for m in members  limit:4 offset:16 %}
    {% assign member = site.players | where:"name",m | first %}
    {% if member %}
      {% include teammember.html variable-param=member %} 
    {% endif %}
  {% endfor %}
  </div>
    
  {% if page.mentors %}

  <div class='row'>
    <div class='large-12 columns'>
      <h2>Mentors</h2>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% assign mentors = page.mentors | sort %}
    {% for m in mentors %}
    {% assign member = site.players | where:"name",m | first %}
      {% if member %}
        {% include teammember.html variable-param=member %} 
      {% endif %}
    {% endfor %}
  </div>

  {% endif %}

{% endif %}