<h2>What players say</h2>
<div class='spacing'></div>
<div class='mod modTestimonials simple'>
  <div class='row'>
    <div class='small-12 columns'>
      <div class='items'>
        {% for t in site.data.testimonials  %}
          <div class='item'>
            {% if t.text %}
              <p class='quote'>{{t.text}}</p>
            {% endif %}
            {% if t.audio %}
              <audio controls>
                <source src="{{t.audio}}" type="audio/mpeg">
                Your browser does not support the audio tag.
              </audio>
            {% endif %}
            {% include author.html variable-param=t.author %} 
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
