---
layout: default
---

{% assign location = site.data.locations[page.location] %}

<div class='full no-padding alternate-background'>
  <div class='spacing'></div>
  <div class='row'>
    <div class='large-10 columns'>
      <!-- Title & date -->
      <h1 class="fadeinright"><a href="{{page.url}}">{{page.title}}</a></h1>
      <h2 class="fadeinleft">{{page.schedule.dates}}</h2>

      <!-- Button -->
    </div>

    <!-- Nav -->
    <div class='large-2 columns'>
      <ul class='info'>
        <li>
          <div class='spacing'></div>
          {% if page.next.url %}
            <a href='{{page.next.url}}' title='next'>
              <i class='icon-left-open'></i>
            </a>
          {% else %}
            <i class='icon-cancel' style="color: gray"></i>
          {% endif %}
          <a href='{{site.url}}/events/' title='back to events list'>
            <i class='icon-layout'></i>
          </a>
          {% if page.previous.url %}
            <a href='{{page.previous.url}}' title='previous'>
              <i class='icon-right-open'></i>
            </a>
          {% else %}
            <i class='icon-cancel' style="color: gray"></i>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
  <div class='spacing'></div>
</div>

<!-- Location -->
<div class='full no-padding'>
  <div class='two spacing'></div>
  <div class='row'>
    <h2>Location</h2>
    <!-- Images -->
    <div class='large-5 columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          {% for image in page.images %}
            <div class="slide">
              <img src="{{image}}" alt="" style="display:block; max-height:500px; width: auto;">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Map -->
    <div class='large-3 columns'>
      <iframe src="{{location.map}}" width="350" height="370" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    
    <!-- Details -->
    <div class='large-3 columns'>
      <ul class='info'>
        <li>
          {% if page.schedule.isOver %}
            <a class='button small'>Event over</a>
          {% elsif page.regisrtration.type == "link" %}
            <a class='button small' href={{page.regisrtration.url}} target="_blank">Register</a>
          {% elsif page.registration %}
            <a class='button small' href='#register'>Register</a>
          {% else %}
            <a class='button small'>Coming soon</a>
          {% endif %}
        </li>
        <li>
          <h3>
          {% if location.name %}
            <a href="{{location.url}}" target="_blank">
              {{location.name}}
            </a>
            <br>
            {{location.area}}
          {% else %}
            Location
            <br>
            {{page.location}}
          {% endif %}
          </h3>
        </li>

        {%if location.address %}
          <li>
            <div class='spacing'></div>
            <strong>Address</strong>
          </li>
          <li>
            {{location.address}}
          </li>
        {% endif %}
        {% if page.schedule.start %}
          <li>
            <div class='spacing'></div>
            <strong>Start</strong>
          </li>
          <li>
            {{page.schedule.start | date: "%A, %B %-d %Y"}}
          </li>
          <li>
            {{page.schedule.start | date: "%R"}}
          </li>
        {% endif %}
        {% if page.schedule.finish %}
          <li>
            <div class='spacing'></div>
            <strong>Finish</strong>
          </li>
          <li>
            {{page.schedule.finish | date: "%A, %B %-d %Y"}}
          </li>
          <li>
            {{page.schedule.finish | date: "%R"}}
          </li>
        {% endif %}
      </ul>
    </div>

  </div>
</div>

<!--Time table-->
{% if page.timetable %}
  <div class='full'>
    <div class='row'>
      <h2>Schedule</h2>
    </div>
  </div>
  <div class='two spacing'></div>
  {% include timetable.html %}
{% endif %}

<!-- Content -->
<div class='full no-padding'>
  <div class='spacing'></div>
  <div class='row'>
    {{content}}
  </div>
</div>

<!-- Register -->
{% if page.schedule.isOver == false and page.registration.type == "eventbrite" %}
<div class='full no-padding'>
  <a name="register"></a>
  <div class='spacing'></div>
  <div class='row'>
    <h2>Register</h2>
    {% if page.registration.tickets-widget %}
    <div class='large-10 columns'>
      <div style="width:100%; text-align:left;">
        <iframe src="{{page.registration.tickets-widget}}" frameborder="0" height="700" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
      </div>
    </div>
    {% endif %}
    {% if page.registration.countdown-widget %}
    <div class='large-2 columns'>
      <div style="width:195px; text-align:center;" >
        <iframe  src="{{page.registration.countdown-widget}}" frameborder="0" height="475" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}

<!--Team -->
<div class='two spacing'></div>
<div class='full no-padding alternate-background'>
  <div class='two spacing'></div>
  {% include team.html %}
</div>

<!--Sponsors-->
<div class='full no-padding'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
        {% include sponsors.html %}
    </div>
  </div>
</div>

<!--Players-->
{% assign players = site.emptyArray %}
{% for player in site.players %}
  {% if player.events contains page.title %}
    {% assign players = players | push: player %}
  {% endif %}
{% endfor %}

{% if players.size > 0 %}
<div class='two spacing'></div>
<div class='full no-padding alternate-background'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='two spacing'></div>
      <h2>Players ({{players.size}})</h2>
      <ul class='gallery large-block-grid-4 medium-block-grid-3 seperated small-block-grid-2'>
      {% for player in players %}
        <li class='{{player.position}}'>
          <a href='{{player.id}}'>
            <img alt="" src="{{player.avatar | default:'/images/players/default.png'}}" />
            <div class='overlay' style='background: rgba(0, 152, 221, 0.8);'>
              <div class='thumb-info'>
                <h3>{{player.position}}</h3>
                <h4>{{player.company}}</h4>
                <h4>{{player.bio}}</h4>
              </div>
            </div>
          </a>
          <h3>{{player.name}}</h3>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}
