---
layout: default
---

<div class="full no-padding alternate-background">
  <div class='two spacing'></div>
  <div class="row">
    <div class="large-10 columns">
        <h1 class="fadeinright"><a href="{{page.url}}">{{page.title}}</a></h1>
    </div>
    <div class="large-2 columns">
      <ul class='info'>
        <li>
          <div class='spacing'></div>
          {% if page.previous.url %}
            <a href='{{page.previous.url}}' title='previous'>
                <i class='icon-left-open'></i>
            </a>
          {% else %}
            <i class='icon-cancel' style="color: gray"></i>
          {% endif %}
          <a href='{{site.url}}/games/' title='back to events list'>
            <i class='icon-layout'></i>
          </a>
          {% if page.next.url %}
            <a href='{{page.next.url}}' title='next'>
                <i class='icon-right-open'></i>
            </a>
          {% else %}
            <i class='icon-cancel' style="color: gray"></i>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>   
  <div class='spacing'></div>
</div>

<div class="full no-padding">
  <div class='spacing'></div>
  <div class="row">
    <div class="large-8 columns">
        <div class='mod modBlogPost big no_bg'>
            <div class='images'>
                {% for image in page.images %}
                <div class='image'>
                    <img alt="" src="{{image | prepend: site.baseurl | prepend: site.url}}" />
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="large-4 columns">
        <div class='mod modBlogPost big no_bg'>
            <ul class='info'>
                <li>
                    Proposed by
                </li>
                {% for originator in page.originators %}
                    {% assign player = site.players | where:'name',originator | first %}
                    <li>
                        <a href="{{player.url}}">{{player.name | default:originator}}</a>
                    </li>
                {% endfor %}
                <li>
                    <div class='spacing'></div>
                    Prepared by
                </li>
                {% for author in page.authors %}
                    {% assign player = site.players | where:'name',author | first %}
                    <li>
                        <a href="{{player.url}}">{{player.name | default:author}}</a>
                    </li>
                {% endfor %}
                <li>
                    <div class='spacing'></div>
                    First played in
                </li>
                <li>
                    {% assign event = site.events | where:"title",page.firstplayed | first %}
                    <a href="{{event.url}}">{{event.title}}</a>
                </li>
                <li>
                    <div class='spacing'></div>
                    Categories
                </li>
                {% for cat in page.categories %}
                    <li><a href="{{cat.url}}">{{cat}}</a></li>   
                {% endfor %}
                {% if page.tags %}
                    <li>
                        <div class='spacing'></div>
                        Values
                    </li>
                    {% for tag in page.tags %}
                        <li><a href="{{tag.url}}">{{tag}}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
  </div>
</div>

<div class="full no-padding">
  <div class="row">
    <div class="large-12 columns">
        <div class='mod modBlogPost big no_bg'>
            <h3>Description</h3>
            <p>
                {{page.excerpt}}
            </p>

            {% if page.learning-objectives %}
                <h4>Learning objectives</h4>
                <ul>
                    {% for learning-objective in page.learning-objectives %}
                        <li>{{learning-objective}}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if page.materials %}
                <h4>Materials</h4>
                <ul>
                    {% for material in page.materials %}
                        <li>{{material}}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if page.preparations %}
                <h4>Preparation</h4>
                <ul>
                    {% for preparation in page.preparations %}
                        <li>{{preparation}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            {% if page.resources %}
                <h4>Resources</h4>
                <ul>
                    {% for resource in page.resources %}
                        <li><a href="{{resource.url}}"> {{resource.name}}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if page.safety %}
                <h4>Safety</h4>
                <dl>
                    {% for item in page.safety %}
                        <dt>{{item.title}}</dt>
                        <dd>{{item.description}}</dd>
                    {% endfor %}
                </dl>
            {% endif %}
        </div>
    </div>
  </div>
</div>

<div class="full no-padding">
  <div class="row">
    <div class="large-12 columns">
        <div class='mod modBlogPost big no_bg'>
            {{content}}
        </div>
    </div>
  </div>
</div>