---
layout: default
---

{% assign player = site.data.players | where:"name",page.player | first %}
<div class='full'>
  <div class='row'>
    <div class='mod modBlogPost big no_bg'>
      <h3><a href="{{page.url}}">{{player.name}}</a></h3>
      <div class='medium-4 columns'>
        <img alt="" src="{{player.avatar | default:'/images/players/default.png'}}" />
        <div class='two spacing'></div>
      </div>
      <div class='medium-6 columns'>
        <p>{{player.position}}</p>
        <p>{{player.company}}</p>
        <p>{{player.bio}}</p>
        <div class="socialmedia">
          {% include socialmedia.html variable-param=player.socials %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class='full'>
  <div class='row'>
    {{ content }}
  </div>
<div class='four spacing'></div>
</div>