---

layout: default
section_id: events

---

<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>

      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          {% assign categories = site.events | sort:"category" | group_by:"category" %}
          {% for category in categories %}
            <li>
              <a data-cat='{{category.name}}' href='#'>{{category.name | capitalize }} ({{category.items.size}})</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      {% assign cancelledEvents = site.events | where_exp:"event","event.schedule.isCancelled == true"  %}
      <h3>Total: {{site.events.size}} | Occurring: {{ site.events.size | minus: cancelledEvents.size }} | Cancelled: {{cancelledEvents.size}} </h3>

      <h2>Upcoming events</h2>
      {% include eventgallery.html filter="upcoming" %} 

      <div class='two spacing'></div>
      <h2>Past events</h2>
      {% include eventgallery.html  filter="past" %} 
    </div>
  </div>
</div>
