---

layout: default
section_id: events

---

<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          {% assign categories = site.events | sort:"category" | group_by:"category" %}
          {% for category in categories %}
            <li>
              <a data-cat='{{category.name}}' href='#'>{{category.name | capitalize }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      {% assign events = site.events | where_exp:"event","event.schedule.isOver == false"  %}
      <h2>Upcoming events ({{events.size}})</h2>
      {% include eventgallery.html variable-param=events %} 

      <div class='two spacing'></div>
      {% assign events = site.events | where_exp:"event","event.schedule.isOver == true" | reverse  %}
      <h2>Past events ({{events.size}})</h2>
      {% include eventgallery.html variable-param=events %} 
    </div>
  </div>
</div>
