---

layout: default
section_id: events

---

<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          {% assign categories = site.events | sort:"category" | group_by:"category" %}
          {% for category in categories %}
            <li>
              <a data-cat='{{category.name}}' href='#'>{{category.name | capitalize }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      {% assign events = site.events | where_exp:"event","event.schedule.isOver == false"  %}
      <h2>Upcoming events ({{events.size}})</h2>
      {% include eventgallery.html variable-param=events %} 

      <div class='two spacing'></div>
      {% assign events = site.events | where_exp:"event","event.schedule.isOver == true" | reverse  %}
      <h2>Past events ({{events.size}})</h2>
      {% include eventgallery.html variable-param=events %} 
    </div>
  </div>
</div>
<div class='full'>
  <div class='row'>
      <h2>Calendar</h2>
      <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=play14.team%40gmail.com&amp;color=%23528800&amp;ctz=Europe%2FLuxembourg" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>  
  </div>
</div>
